<div>
	<form>
		<input class="filter" type="text" placeholder="Filter results...">
	</form>
	<ul class="list">
		<li>{{long-text}}</li>
		<li>{{short-text}}</li>
		<li>{{short-text}}
			<ul>
				<li>{{nested-text}}</li>
				<li>{{nested-text}}</li>
				<li>{{nested-text}}</li>
			</ul>
		</li>
		<li>{{short-text}}</li>
		<li>{{short-text}}</li>
		<li>{{short-text}}</li>
	</ul>
</div>