<ul class="{{modifier}}">
	<li>{{long-text}}</li>
	<li>{{short-text}}</li>
	<li>{{short-text}}
		<ul>
			<li>{{nested-text}}</li>
			<li>{{nested-text}}</li>
			<li>{{nested-text}}</li>
		</ul>
	</li>
	<li>{{short-text}}</li>
	<li>{{long-text}}</li>
	<li>{{short-text}}</li>
</ul>